<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="/static/script.js"></script>
    <title>Excel Merger</title>
</head>
<body>
    <h1>Excel Merger</h1>
    <button id="btnBrowse">Browse</button>
    <button id="btnMerge">Merge</button>
    <button id="btnSearch">Search</button>
    <button id="btnAddOrder" onclick="goToAddOrderPage()">Add Order</button>
</body>
</html>